<%= form_with model: [@test, question] do |form| %>
  <%= render 'shared/errors', resource: question %>
  <p>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </p>
  <p><%= form.submit %></p>
<% end %>

<%= link_to 'Назад к вопросам', test_questions_path %>
